<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>team</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">


</head>

<body>
<!-- Team Section Start -->
    <section id="team" class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 col-xs-12 text-center">
                    <h6 class="subtitle">
                        Meet Our
                    </h6>
                    <h2 class="section-title">
                        Our awesome team
                    </h2>
                    <div class="section-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nulla neque tempore rerum dolore accusamus, eum, officia nostrum sequi explicabo aspernatur asperiores.
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- Team Item Starts -->
                    <div class="team-item text-center">
                        <div class="team-img">
                            <img class="img-fluid" src="assets/img/team/team-01.jpg" alt="">
                            <div class="team-overlay">
                                <div class="overlay-social-icon text-center">
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info-text">
                            <h3><a href="#">Sambbhav Garg</a></h3>
                            <p>ACM CSR Head</p>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- Team Item Starts -->
                    <div class="team-item text-center">
                        <div class="team-img">
                            <img class="img-fluid" src="assets/img/team/team-02.jpg" alt="">
                            <div class="team-overlay">
                                <div class="overlay-social-icon text-center">
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info-text">
                            <h3><a href="#">Shriya Sehgal</a></h3>
                            <p>ACM-W CSR Head</p>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
				<div class="col-sm-6 col-md-6 col-lg-3">
                </div>
            </div>
        </div>
    </section>
</body>
